*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
  
}

.logo > img{
width: 150px;
}

.nav-item > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.nav-item > ul > li{
font-size: 1.5rem;
padding: 30px;
}

.search{
    margin: 20px;
}
.card-container{
    display: flex;
   align-items: start;
    flex-wrap: wrap;
   padding-left: 74px;
}

.crad {
    margin: 20px 20px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.crad:hover {
    transform: scale(0.9); /* Scale the card up to 105% */
    cursor: pointer; /* Change cursor to pointer */
}
.card-logo {
    width: 100%;
  
}

.card-logo img {
    padding: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.info{
    height: 60px;
}

.btn{
    display: flex;
    gap: 30px;
    margin: 30px;
}

.simmerContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 74px;
}
.simmerCard{
    margin: 20px 20px;
    background-color: #f3ebeb;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.simmerCard:hover {
    transform: scale(0.9); /* Scale the card up to 105% */
    cursor: pointer; /* Change cursor to pointer */
}

.loginbtn{
    padding: 10px;
}
